.body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 18px; */
}

.btn {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    min-width: 30px;
    height: 30px;
    margin: 10px;
}

.ticket-list {
    padding: 10px;
}

.ticket-item {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: -1px;
}

.ticket-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ticket-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ticket-status {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;;
    min-width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin: 10px;
}

.ticket-status:checked::after {
    content: '✓';
    position: absolute;
    font-size: 16px;
    left: 5px;
}

.ticket-name {
    margin: 10px;
}

.ticket-created {
    margin: 10px;
}

.edit-ticket-btn {
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.delete-ticket-btn {
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.button-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-ticket-btn {
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-form {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.ticket-form-header {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.ticket-form-name-label {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.ticket-form-name {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

.ticket-form-description-label {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.ticket-form-description {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cancel-ticket-btn {
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-ticket-btn {
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}